body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(86, 23, 49);

}

.hero-image{
    
    background-image: url(https://thumbs.gfycat.com/CraftyCircularBeauceron-max-1mb.gif);
    background-repeat: none;
    min-width: 459.5px;
    margin-top: 2px;
    
   
}


img
{
    display: block;
   border: black solid;  
    margin-left:auto;
    margin-right:auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
}


h1{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2,
h3 
{ 
    color: rgb(8, 82, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }


.hero-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    color:white;
    margin: 50PX;
    word-spacing: 3px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
    
}

.middle
{
margin-left: 35px;
}


.right{
    font-size: 14px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    margin-top: -28.75%;
    margin-bottom: 50px;
    
}


p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color :rgba(238, 244, 212, 0.844);
}

  
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(187, 255, 255);
  }
  

.m1 {

    margin-top: 40px;
}
.t1 {

    margin-top: 37px;
}
  
  .employer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(161, 183, 176);
}


@media only screen and (min-width: 500px) {
   body {  background-color: rgba(106, 58, 3, 0.827);}
} 


@media only screen and (min-width: 668px) {
   body { background-color:rgb(95, 10, 76) ;}
} 


@media only screen and (min-width: 892px) {
   body { background-color: rgba(33, 74, 1, 0.668); }
} 


@media only screen and (min-width: 1100px) 
{
   body { background-color: rgb(3, 90, 46);
 }
 
}